<div class="aligner">
  <div class="card w-25">
    <div class="card-header text-center">
      <h2>Register</h2>
    </div>
    <div class="card-block">

      <form [formGroup]="registerForm">
        <!--START USER INFORMATION-->
        <h3 class="mb-1">User Information</h3>
        <hr class="mt-0">

        <div class="form-group"
             [ngClass]="{'has-danger': formGroupHasDanger('fullName')}">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input type="text"
                   class="form-control"
                   placeholder="Full Name*"
                   formControlName="fullName"
                   [ngClass]="{'form-control-danger': formGroupHasDanger('fullName')}">
          </div>
          <small
            class="form-text text-danger"
            [hidden]="!formGroupHasDanger('fullName')">
            Full Name is required
          </small>
        </div>

        <div class="form-group"
             [ngClass]="{'has-danger': formGroupHasDanger('email')}">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <input type="email"
                   class="form-control"
                   placeholder="Email*"
                   formControlName="email"
                   [ngClass]="{'form-control-danger': formGroupHasDanger('email')}">
          </div>
          <small
            class="form-text text-danger"
            [hidden]="!formGroupHasDanger('email')">
            Email is required
          </small>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-address-book" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Address" formControlName="address">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            <input type="date" class="form-control" placeholder="Birthday* (yyyy-mm-dd)" formControlName="dob">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-mobile-phone" aria-hidden="true"></i></span>
            <input type="tel" class="form-control" placeholder="Phone Number" formControlName="tel">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-genderless" aria-hidden="true"></i></span>
            <input type="tel" class="form-control" placeholder="Phone Number" formControlName="tel">
          </div>
        </div>

        <div class="form-group">
          <label class="center-block">Gender:
            <select class="form-control" formControlName="gender">
              <option *ngFor="let gender of genders" [value]="gender.value">{{gender.name}}</option>
            </select>
          </label>
        </div>

        <!--END USER INFORMATION-->

        <!--START ACCOUNT INFORMATION-->
        <h3 class="mb-1">Account Information</h3>
        <hr class="mt-0">

        <div class="form-group"
             [ngClass]="{'has-danger': formGroupHasDanger('username')}">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
            <input type="text"
                   class="form-control"
                   placeholder="Username*"
                   [ngClass]="{'form-control-danger': formGroupHasDanger('username')}">
          </div>
          <small class="form-text text-danger"
                 [hidden]="!formGroupHasDanger('username')">Username is required
          </small>
        </div>

        <div class="form-group"
             [ngClass]="{'has-danger': formGroupHasDanger('password')}">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
            <input type="password" class="form-control" placeholder="Password*"
                   [ngClass]="{'form-control-danger': formGroupHasDanger('password')}">>
          </div>
          <small class="form-text text-danger"
                 [hidden]="!formGroupHasDanger('password')">Password is required
          </small>
        </div>
        <!--END ACCOUNT INFORMATION-->

        <!--START ROLE INFORMATION-->
        <h3 class="mb-1">Role Information</h3>
        <hr class="mt-0">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
            <input readonly type="text" class="form-control" value="User">
          </div>
        </div>
        <!--END ROLE INFORMATION-->

      </form>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button type="button" class="btn btn-link">Clear</button>
      <button type="button" class="btn btn-primary" (click)="onSubmit()">Register
        <!--<i class="fa fa-spinner fa-pulse fa-fw" *ngIf="registering | async"></i>-->
      </button>
    </div>
  </div>
</div>
