<!--START NAV BAR-->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#app-navbar" aria-controls="app-navbar-control" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--START NAVBAR BRAND-->
  <div class="mr-2">
    <a class="navbar-brand" routerLink="/">
      <small class="text-xs text-bottom-half">{{storeName}}</small>
      SSTORE<i class="fa fa-shopping-cart"></i>
    </a>
  </div>
  <!--END NAVBAR BRAND-->

  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-link" ngbDropdownToggle>Catalog</button>
    <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
      <button class="dropdown-item"
              *ngFor="let catalog of catalogs"
              [routerLink]="['/catalogs', catalog.id]"
              routerLinkActive="active">{{catalog.name}}
      </button>
    </div>
  </div>

  <div class="collapse navbar-collapse d-flex justify-content-end" id="app-navbar">

    <button class="btn btn-link mr-2" type="button" [routerLink]="['/carts', cartId]">
      <i class="fa fa-shopping-cart mr-1"></i>Cart
      <span class="badge badge-pill badge-primary">{{itemInCart}}</span>
    </button>

    <frontend-navbar-login>
    </frontend-navbar-login>

  </div>
</nav>
<!--END NAV BAR-->
