<ng-template [ngIf]="!isEditing">
  <th scope="row">{{storeProductVariant?.storeId}}</th>
  <td [routerLink]="['/store',_storeProductVariant?.store.id]">{{_storeProductVariant?.store.name}}</td>
  <td>{{storeProductVariant?.price}}</td>
  <td>{{storeProductVariant?.inStock}}</td>
  <td class="d-flex">
    <button class="btn btn-sm btn-outline-primary" (click)="isEditing=true">Edit</button>
  </td>
</ng-template>

<ng-template [ngIf]="isEditing">
  <th scope="row">{{_storeProductVariant?.storeId}}</th>
  <td [routerLink]="['/store',_storeProductVariant?.store.id]">{{_storeProductVariant?.store.name}}</td>
  <td><input type="text"
             pattern="[1-9]\d*$"
             class="form-control"
             #price="ngModel"
             [(ngModel)]="_storeProductVariant.price"
             required></td>
  <td><input type="text"
             pattern="[1-9]\d*$"
             class="form-control"
             #inStock="ngModel"
             [(ngModel)]="_storeProductVariant.inStock"
             required></td>
  <td class="d-flex">
    <button class="btn btn-sm btn-outline-success" [disabled]="!inStock.valid||!price.valid" (click)="onChange()">Save
    </button>
  </td>
</ng-template>
