<frontend-admin-jumbotron [Header]="'Orders'"></frontend-admin-jumbotron>
<div class="container">

  <span class="display-4">Orders:</span>
  <hr>

  <div class="d-flex justify-content-start align-items-center">
    <ngb-pagination (pageChange)="pageChanged($event)"
                    [collectionSize]="paginatedListOfOrders?.count"
                    [maxSize]="5"
                    [pageSize]="10"
                    [boundaryLinks]="true"
                    [page]="paginatedListOfOrders?.pageIndex">
    </ngb-pagination>

    <frontend-admin-loading-indicator [size]="2" *ngIf="isBusy | async"></frontend-admin-loading-indicator>

  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Code</th>
      <th>State</th>
      <th>Created At</th>
      <th>Last Updated</th>
      <th>Users</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of paginatedListOfOrders?.data">
      <th scope="row">{{order.id}}</th>
      <td><a [routerLink]="['/orders', order.id]">{{order.code}}</a></td>
      <td>
        <frontend-admin-order-state-button
          [state]="order.state">
        </frontend-admin-order-state-button>
      </td>
      <td>
        {{order.createdAt | amTimeAgo}}
      </td>
      <td>
        {{order.updatedAt | amTimeAgo}}
      </td>
      <td>{{order.shoppingCart.user.fullName}}</td>
    </tr>
    </tbody>
  </table>
</div>
