<frontend-admin-jumbotron [Header]="'Orders'"></frontend-admin-jumbotron>
<div class="container">

  <span class="display-4">Orders:</span>
  <hr>

  <div class="d-flex justify-content-start align-items-center">
    <ngb-pagination (pageChange)="pageChanged($event)"
                    [collectionSize]="paginatedListOfOrders?.count"
                    [maxSize]="5"
                    [pageSize]="10"
                    [boundaryLinks]="true"
                    [page]="paginatedListOfOrders?.pageIndex">
    </ngb-pagination>

    <!--<i *ngIf="(loading | async)" class="fa fa-spinner fa-pulse fa-2x fa-fw ml-2 align-self-start"></i>-->

    <!--<div [(ngModel)]="filterMode" ngbRadioGroup name="filter-groups"-->
    <!--(ngModelChange)="onFilterModeChange()"-->
    <!--class="btn-group btn-group-sm align-self-start ml-auto">-->
    <!--<label class="btn btn-sm btn-outline-primary">-->
    <!--<input type="radio" [value]="1"> All-->
    <!--</label>-->
    <!--<label class="btn btn-sm btn-outline-primary">-->
    <!--<input type="radio" [value]="2"> Processing-->
    <!--</label>-->
    <!--<label class="btn btn-sm btn-outline-primary">-->
    <!--<input type="radio" [value]="3"> Delivering-->
    <!--</label>-->
    <!--<label class="btn btn-sm btn-outline-primary">-->
    <!--<input type="radio" [value]="4"> Done-->
    <!--</label>-->
    <!--</div>-->
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Code</th>
      <th>State</th>
      <th>Created At</th>
      <th>Last Updated</th>
      <th>Users</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of paginatedListOfOrders?.data">
      <th scope="row">{{order.id}}</th>
      <td><a [routerLink]="['/orders', order.id]">{{order.code}}</a></td>
      <td>
        <frontend-admin-order-state-button
          [state]="order.state">
        </frontend-admin-order-state-button>
      </td>
      <td>{{order.createdAt | amTimeAgo}}</td>
      <td>{{order.updatedAt | amTimeAgo}}</td>
      <td>{{order.shoppingCart.user.fullName}}</td>
    </tr>

    </tbody>
  </table>
</div>
