<frontend-admin-jumbotron [Header]="'Store'"></frontend-admin-jumbotron>
<div class="container">
  <div class="row mb-3">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header">Store map</h3>
        <frontend-admin-map class="col-12 p-0" [markers]="markers"></frontend-admin-map>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header">Store list</h3>

        <div class="card-block">
          <div class="d-flex align-items-start justify-content-between">
            <ngb-pagination
              #pagination
              [collectionSize]="stores.length"
              [pageSize]="2"
              [(page)]="page">

            </ngb-pagination>
            <button class="btn btn-outline-primary"><a routerLink="/store/create">Add Store</a></button>
          </div>

          <table class="table table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>Store name</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <ng-template ngFor let-store [ngForOf]="stores" let-i="index">
              <tr *ngIf="i < (this.page * pagination.pageSize) && i >= ((this.page - 1) * pagination.pageSize)">
                <th scope="row">{{store.id}}</th>
                <td>{{store.name}}</td>
                <td>{{store.phone}}</td>
                <td>{{store.address}}</td>
                <td>
                  <button class="btn btn-sm btn-outline-primary"><a [routerLink]="['/store/detail',store.id]">Detail</a>
                  </button>
                </td>
              </tr>
            </ng-template>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
