<frontend-admin-jumbotron [Header]="'Dashboard'"></frontend-admin-jumbotron>
<div class="container">
  <frontend-admin-overview-cards
    class="row justify-content-md-between pl-3"
    [totalUser]="noUsers | async"
    [newOrders]="noRemainingOrders | async"
    [badReviews]="noBadReviews | async">
  </frontend-admin-overview-cards>
  <div class="row mb-3">
    <frontend-admin-bar-chart class="col-12"
                              *ngIf="totalSalesChartOptions"
                              [title]="totalSalesChartOptions?.title"
                              [vAxis]="totalSalesChartOptions?.vAxis"
                              [hAxis]="totalSalesChartOptions?.hAxis"
                              [dataTable]="totalSalesChartOptions?.dataTable"></frontend-admin-bar-chart>
  </div>
  <div class="row mb-3">
    <frontend-admin-pie-chart class="col-lg-6 col-12"
                              *ngIf="reviewPercentsChartOptions"
                              [title]="reviewPercentsChartOptions?.title"
                              [dataTable]="reviewPercentsChartOptions.dataTable"></frontend-admin-pie-chart>

    <frontend-admin-bar-chart class="col-lg-6 col-12"
                              *ngIf="recentUsersChartOptions"
                              [title]="recentUsersChartOptions?.title"
                              [vAxis]="recentUsersChartOptions?.vAxis"
                              [hAxis]="recentUsersChartOptions?.hAxis"
                              [dataTable]="recentUsersChartOptions?.dataTable"></frontend-admin-bar-chart>
  </div>
</div>
