<div class="jumbotron bg-primary text-white">
  <div class="container">
    <h1 class="display-3">Kavan Cliffs</h1>
    <span class="badge badge-pill badge-info">Household</span>
    <span class="badge badge-pill badge-info">Reading</span>
    <span class="badge badge-pill badge-info">Cheap</span>
    <span class="badge badge-pill badge-info">Cheapest</span>
    <span class="lead"></span>
  </div>
</div>
<div class="container">

  <!--START PRODUCT DETAIL INFORMATION-->
  <span class="col-12 display-4">
        Product Information:
      </span>
  <hr>
  <div class="row px-3 mb-3">
    <div class="col-lg-4 col-12 text-white d-flex align-items-center justify-content-center">
      <img src="http://lorempixel.com/500/500/cats/" alt="cats" class="img-thumbnail">
    </div>

    <div class="col-lg-8 col-12 p-5">

      <div class="mb-1">
        <h4 class="lead d-inline-block">Kavan Cliffs</h4>
        <span class="badge badge-pill badge-primary">Book</span>
      </div>

      <p class="card-text">
        Donec sed pellentesque purus. Mauris eu consequat sem. Ut malesuada nunc et leo hendrerit
        ultricies. Donec placerat diam nec efficitur tincidunt. Ut consectetur nisl at libero facilisis,
        eu auctor tellus bibendum. Integer quis lorem viverra, semper orci sit amet, iaculis dolor.
        Fusce sodales magna ligula, ac suscipit purus convallis eget. Proin ac ipsum libero. Morbi
      </p>

      <div class="card">
        <div class="card-block">
          <span class="lead">Product Variants:</span>
          <!--START SORT DROPDOWN-->


          <div ngbDropdown class="d-inline-block btn-group mb-2">
            <button class="btn btn-secondary" ngbDropdownToggle>
              <span class="badge badge-pill badge-success">color: red</span>
              <span class="badge badge-pill badge-success">taste: chocolate</span>
              <span class="badge badge-pill badge-success">volume: 350ML</span>
            </button>
            <div class="dropdown-menu">
              <button class="dropdown-item active">
                <span class="badge badge-pill badge-success">color: red</span>
                <span class="badge badge-pill badge-success">taste: chocolate</span>
                <span class="badge badge-pill badge-success">volume: 350ML</span>
              </button>
              <button class="dropdown-item">
                <span class="badge badge-pill badge-success">color: red</span>
                <span class="badge badge-pill badge-success">taste: chocolate</span>
                <span class="badge badge-pill badge-success">volume: 350ML</span>
              </button>
              <button class="dropdown-item">
                <span class="badge badge-pill badge-success">color: red</span>
                <span class="badge badge-pill badge-success">taste: chocolate</span>
                <span class="badge badge-pill badge-success">volume: 350ML</span>
              </button>
            </div>
          </div>
          <!--END SORT DROPDOWN-->
          <div class="lead mb-2">Price: <strong>200.000 VND</strong></div>

          <div class="form-group mb-0 row">
            <span class="lead col-2">Amount: </span>
            <input type="number" class="form-control col-3">
          </div>

        </div>
        <div class="card-footer d-flex justify-content-end">
          <button class="btn btn-link">Reset</button>
          <button class="btn btn-outline-primary">Put to Card <i class="fa fa-shopping-cart"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!--END PRODUCT DETAIL INFORMATION-->

  <!--START PRODUCT DETAIL ATTRIBUTES-->
  <span class="col-12 display-4">
        Product Attributes:
      </span>
  <hr>
  <div class="row px-3 mb-3">
    <div class="col-lg-6 col-12">
      <p class="lead">Product Type Attributes: <span class="badge badge-pill badge-primary">Book</span></p>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Value</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">0</th>
          <td>Color</td>
          <td>Red</td>
          <td>
            <button class="btn btn-sm btn-outline-primary">Edit</button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Size</td>
          <td>Medium</td>
          <td>
            <button class="btn btn-sm btn-outline-primary">Edit</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Cover</td>
          <td>Hardcover</td>
          <td>
            <button class="btn btn-sm btn-outline-primary">Edit</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Page</td>
          <td>129</td>
          <td>
            <button class="btn btn-sm btn-outline-primary">Edit</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-6 col-12 mb-3">
      <div class="d-flex justify-content-between align-items-start">
        <p class="lead">Custom Attributes:</p>
        <button class="btn btn-outline-primary">+</button>
      </div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Value</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">0</th>
          <td>Volume</td>
          <td>350ML</td>
          <td>
            <button class="btn btn-sm btn-outline-primary">Edit</button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Size</td>
          <td>Medium</td>
          <td>
            <button class="btn btn-sm btn-outline-primary">Edit</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--END PRODUCT DETAIL ATTRIBUTES-->


  <!--START PRODUCT REVIEWS-->
  <span class="col-12 display-4">
        Product Reviews:
    </span>
  <hr>

  <!--START REVIEW WRITER SECTION-->
  <div class="card mb-3">
    <div class="card-block">
      <div class="row align-items-center">
        <div class="col-2 text-center">
          <h1>4/5</h1>
          <frontend-product-review-rating
            [rating]="4">
          </frontend-product-review-rating>
          <div>
            <small>(5 Reviews)</small>
          </div>
        </div>
        <div class="col-10">
          <span class="lead">Rating:</span>
          <div class="mr-2 d-inline-block mb-2 lead">
            <frontend-product-review-rating-input>
            </frontend-product-review-rating-input>
          </div>

          <textarea class="form-control mb-2" id="exampleTextarea" rows="3"
                    placeholder="Write your review"></textarea>
          <button class="btn btn-outline-primary float-right">Post</button>
        </div>

      </div>
    </div>
  </div>
  <!--END REVIEW WRITER SECTION-->


  <!--START REVIEW LIST SECTION-->
  <div class="mb-5">
    <frontend-product-review
      [review]="reviews[0]">
    </frontend-product-review>

    <frontend-product-review
      class="mb-3"
      [review]="reviews[0]">
    </frontend-product-review>

    <frontend-product-review
      class="mb-3"
      [review]="reviews[0]">
    </frontend-product-review>

    <frontend-product-review
      class="mb-3"
      [review]="reviews[0]">
    </frontend-product-review>


  </div>
  <!--END REVIEW LIST SECTION-->


  <!--END PRODUCT REVIEW-->


</div>
