<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#app-navbar"
          aria-controls="app-navbar-control" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">SSTORE<i
    class="fa fa-shopping-cart"></i></a>

  <div class="collapse navbar-collapse" id="app-navbar">
    <div class="navbar-nav mr-auto mt-2 mt-md-0">
      <a class="nav-item nav-link" routerLink="/dashboard" routerLinkActive="active">
        <small>Hello,&nbsp;{{account?.user.fullName}}</small>
        <small class="text-primary">
          <i class="fa fa-circle" aria-hidden="true"></i>
          <span>{{account?.username}}</span>
        </small>
      </a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/stores" routerLinkActive="active">Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reviews" routerLinkActive="active">Review</a>
        </li>
      </ul>
    </div>
    <frontend-admin-nav-bar-utilities
      *ngIf="account"
      [user]="account?.user"
      (logoutButtonClicked)="onLogoutButtonClick()">
    </frontend-admin-nav-bar-utilities>
  </div>
</nav>
