.text-xs {
    font-size: 11px;
}

.text-bottom-half {
    position: absolute;
    top: 36px;
    left: 45px;
}

.w-250-px {
    width: 250px;
}

.jumbotron {
    margin-top: 55px;
}

.image-placeholder {
    width: 500px;
    height: 500px;
}
